<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href={% static 'css/custome_style.css' %}>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GLWE56N0CS"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-GLWE56N0CS');
    </script>
</head>
<body>
<div class="container">
    <h1 class="text-center logo-text py-5 my-5 display-1">35.com</h1>
    <h1 class="text-white my-5 display-4">タイトル検索</h1>
    <form class="form-inline search-form" method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn mx-3">検索</button>
    </form>
    <p class="text-gray pt-5">作品数：{{ num_movie }}件</p>
    <ul class="list-group list-group-horizontal-md py-2">
        <li class="list-group-item netflix-li">Netflix 対応</li>
        <li class="list-group-item prime-li mx-3">PrimeVideo 対応</li>
    </ul>
    <h4 class="text-center mt-5 pt-5 text-gray">お知らせ</h4>
    <ul class="list-group my-5">
        {% for notice in notice_list %}
            <a href="{% url 'notice_detail' notice.id %}">
                <li class="list-group-item notice-li mb-1">
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="text-gray no-margin">{{ notice.title|truncatechars:10 }}</h5>
                        </div>
                        <div class="col-md-4">
                            <p class="text-gray no-margin">{{ notice.updated_at|date:'Y-m-d' }}</p>
                        </div>
                    </div>
                </li>
            </a>
        {% endfor %}
        <li class="mt-2">
            <a href="{% url 'notices' %}"><p class="text-right text-gray text-hover-orange no-margin">もっとみる...</p></a>
        </li>
    </ul>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 my-5">
                <h3>35.com</h3>
                <p>お気に入りの映画やドラマをストーリーで共有しましょう！お洒落な画像を自動生成します。</p>
            </div>
            <div class="col-md-4 my-5">
            </div>
            <div class="col-md-4 my-5">
                <a href="{% url 'contact_us' %}"><h6 class="footer-text">お問い合わせ</h6></a>
                <h6>このサイトについて</h6>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>