{% extends "base.html" %}
{% load static %}

{% block title %}{{ notice.title }}{% endblock %}
{% block contents %}
    <div class="container">
        <div class="row my-5 pt-5">
            <div class="col-md-8">
                <h4 class="text-gray no-margin">{{ object.title }}</h4>
            </div>
            <div class="col-md-4">
                <h5 class="text-gray no-margin">{{ object.updated_at|date:'Y-m-d' }}</h5>
            </div>
        </div>
        <p class="text-gray mb-5">{{ object.content }}</p>
    </div>
{% endblock %}