{% extends "base.html" %}
{% load mathfilters %}
{% load static %}

{% block title %}検索：{{ keyword }}{% endblock %}
{% block contents %}
    <div class="container">
        <form class="form-inline search-form py-5" method="post">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn mx-3">検索</button>
        </form>
        {% if page_obj.object_list %}
            <p class="text-gray">ヒット数：{{ page_obj.number }}, ページ数：{{ page_obj.end_index }}</p>
        {% endif %}
        {% if not page_obj.object_list %}
            <div class="col-12 text-center">
                <p class="text-gray">作品がありません。</p>
            </div>
        {% endif %}
        <ul class="movie-ul">
            {% for movie in page_obj.object_list %}
                <li class="movie-li py-3">
                    <a href="{% url 'movie_detail' movie.id %}?keyword={{ keyword }}">
                        <h3 class="movies-text text-hover-orange mx-3">{{ movie.title_ja|truncatechars:25 }}</h3>
                        <h5 class="text-gray mx-3">{{ movie.year }}</h5>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <p class="text-gray">ヒット数：{{ page_obj.number }}, ページ数：{{ page_obj.end_index }}</p>
        <nav area-label="Page navigation" style="background-color: rgb(37, 39, 40)">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a href="?keyword={{ keyword }}&page=1" class="page-link" area-label="Previous">
                        <span area-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% if page_obj.has_previous %}
                    <li class="page-item active"><a href="?keyword={{ keyword }}&page={{ page_obj.previous_page_number }}"
                                                    class="page-link seemore-a">{{ page_obj.previous_page_number }}</a>
                    </li>
                {% endif %}
                <li class="page-item"><a href="?keyword={{ keyword }}&page={{ page_obj.number }}"
                                         class="page-link seemore-a">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                    <li class="page-item"><a href="?keyword={{ keyword }}&page={{ page_obj.next_page_number }}"
                                             class="page-link seemore-a">{{ page_obj.next_page_number }}</a></li>
                {% endif %}
                <li class="page-item">
                    <a href="?keyword={{ keyword }}&page={{ page_obj.end_index }}" class="page-link seemore-a" area-label="Next">
                        <span area-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}